[Unit]
Description=Start TightVNC server at startup
After=syslog.target network.target

[Service]
Type=forking
User=andy_olliver
WorkingDirectory=/home/andy_olliver
PIDFile=/home/andy_olliver/.vnc/%H.c.dev-tools-183623.internal:%i.pid
ExecStartPre=-/usr/bin/vncserver -kill %i > /dev/null 2>&1
ExecStart=/usr/bin/vncserver -depth 24 -geometry 1280x800 -localhost no %i
ExecStop=/usr/bin/vncserver -kill %i

[Install]
WantedBy=multi-user.target
